*{
    margin: 0;
    font-family: sans-serif;
    color: white;
}

section{
    display: flex;
    background-image: url(img/background-technology-desktop.jpg);
}

.numberTitle{
    color: rgba(190, 190, 190, 0.76);
}

.technologySide{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
}

.technologyContainer{
    display: flex;
    flex-direction: row;
}

.numberSelector{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.imgSpace{
    width: 40%;
}

img{
    width: 100%;
}

.numberRedondo{
    background: none;
    border-radius: 50%;
    font-size: 3rem;
    padding: 15px 30px 15px 30px;
    margin: 10px;
    border: 1px rgb(31, 91, 219) solid;
}

.numberRedondo:focus{
    background: rgb(255, 255, 255);
    color: black;
    border: none;
}

.terminology{
    font-size: 1.3rem;
}

.show{
    display: block;
    position: relative;
}

.notShow{
    display: none;
    position: relative;
}
