*{
    margin: 0;
}

html{
    font-size: 15px;
}

body{
    background: red;
    text-align: center;
}

section{
    position: relative;
    display: inline-block;
    width: 300px;
    height: 470px;
    color: black;
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
    background-color: #e4f2fd;
}

img{
    width: 100%;
/*    border-top-left-radius: 25px;
    border-top-right-radius: 25px;  */
    display:inline-block;
}

h2{
    font-size: 2rem;
    margin: 25px;
}

h3{
    color: #334454;
    display:inline-block;
}

p{
    display:inline-block;
    font-size: 1rem;
    color: #5b7788;
}

.textos{
    flex-direction: row;
}

.divInline{
    display:inline-block;
}

button{
    border-radius: 7px;
    width: 280px;
    height: 30px;
    border: none;
}

button:hover{
    box-shadow: 5px 10px 0 0 rgba(117, 165, 236, 0.199);
}


.buttonAceptar{
    background: rgb(79, 44, 233);
    color: white;
}

.buttonCancelar{
    color: #5b7788;
    
}

.row{
    display: flex;
    background: #767e8321;
    margin: 10px;
    border-radius: 7px;
    padding: 0 10px 0 0;
}
  
.column{
    flex: 33%;
}

.divNota{
    transform: translate(0, 50%);
}

.divLink{
    transform: translate(0%, 20%);
}
