*{
    margin: 0;
    font-family: sans-serif;
}

h1{
    font-size: 2rem;
}

section{
    margin: 50px;
    border-radius: 10px;
    overflow: hidden;
    width: 60%;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 10px;
}


.divLeft{
    color: white;
    background: #eeaa2d;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divRight{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: red;
}

.redes{
    display: flex;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    height: 45px;
}


.facebookIcon{
    background: #355089;
    width: 10%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0 0 5px;
}

.facebookText{
    width: 90%;
    background: #3b5999;
    padding-left: 10px;
    display: flex;
    align-items: center;
    border-radius: 0 5px 5px 0;
}


.twitterIcon{
    background: #4c9ad6;
    width: 10%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0 0 5px;
}

.twitterText{
    width: 90%;
    background: #55acee;
    padding-left: 10px;
    display: flex;
    align-items: center;
    border-radius: 0 5px 5px 0;
}

.googleIcon{
    background: #c64333;
    width: 10%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0 0 5px;
}

.googleText{
    width: 90%;
    background: #dd4b39;
    padding-left: 10px;
    display: flex;
    align-items: center;
    border-radius: 0 5px 5px 0;
}

.behanceIcon{
    background: #111216;
    width: 10%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0 0 5px;
}

.behanceText{
    width: 90%;
    background: #131418;
    padding-left: 10px;
    display: flex;
    align-items: center;
    border-radius: 0 5px 5px 0;
}

.formulario{
    width: 80%;
    text-align: center;
}


input{
    border: 1px #ffa500 solid;
    padding: 15px;
    margin: 10px;
    width: 85%;
}

.boton{
    border-radius: 10px;
    color: #ffffff;
    background: #85c434;
    padding: 5px;
    text-decoration: none;
    border: none;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    margin: 15px 0 0 0;
}

.boton:hover {
    background: #608d25;
}
